package layouts

import "github.com/nicolashery/simply-shared-notes/middlewares"

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title } - Simply Shared Notes</title>
			@templ.Raw(middlewares.GetVite(ctx).Tags)
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
