package views

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title } - Simply Shared Notes</title>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
