package pages

import "github.com/nicolashery/simply-shared-notes/app/views/layouts"

templ LanguageSelect() {
	@layouts.Landing("Select language") {
		<div class="max-w-md mx-auto py-4">
			<h1 class="text-2xl font-bold mb-1.5">Change language</h1>
		</div>
	}
}
