package pages

import (
	"github.com/nicolashery/simply-shared-notes/app/rctx"
	"github.com/nicolashery/simply-shared-notes/app/views/layouts"
)

templ NotesShow(renderedMarkdown string) {
	{{ note := rctx.GetNote(ctx) }}
	@layouts.Space() {
		<div class="prose prose-headings:mt-5 prose-headings:mb-5 prose-h1:font-bold prose-h1:text-3xl prose-h1:mt-7 prose-h2:mt-7 prose-hr:mt-7 prose-hr:mb-7">
			<h1>{ note.Title }</h1>
			@templ.Raw(renderedMarkdown)
		</div>
	}
}
