@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    exclude: rootscrollgutter;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}
@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    color-scheme: "dark";
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}
@custom-variant theme-dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@utility input {
    /* Font size 16px (vs 14px default) to prevent zoom on iOS when focusing input  */
    font-size: 1rem;
}
