package pages

import "github.com/nicolashery/simply-shared-notes/db"
import "github.com/nicolashery/simply-shared-notes/views/layouts"

templ SpacesShow(space *db.Space) {
	@layouts.Space(space) {
		<div>
			Welcome to your notes!
		</div>
	}
}
